body {
}


.sobre-content {
display: flex;
flex-wrap: wrap;
align-items: center;
gap: 2rem;
}


.sobre-content img {
width: 250px;
border-radius: 10px;
}


.contato form {
display: flex;
flex-direction: column;
gap: 1rem;
max-width: 500px;
margin: auto;
}


.contato input, .contato textarea {
padding: 0.8rem;
border: 1px solid #ccc;
border-radius: 8px;
}


.contato button {
background-color: #5a3d2b;
color: white;
border: none;
padding: 0.8rem;
border-radius: 25px;
cursor: pointer;
transition: 0.3s;
}


.contato button:hover {
background-color: #8b5e3c;
}


footer {
background: #5a3d2b;
color: #fff;
text-align: center;
padding: 1rem;
}




/* =============================